<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <loadFromRemoteSources enabled="true"></loadFromRemoteSources>
  </runtime>
  <appSettings>
    <add key="dbServerName" value="o3Q+EIuTcAU1zprK0Mj0QQ=="/>
    <add key="primaryServerPath" value="Ain6Y4bx+x8="/>
    <add key="secondaryServerPath" value="Ain6Y4bx+x8="/>
    <add key="RememberMe" value="False"/>
    <add key="RememberUserName" value=""/>
    <add key="OrderFilesPath" value="c:\test\"/>
   
    <!--credentials pro proxy-->
    <add key="ProxyCredUserName" value="svclbw001"/>
    <add key="ProxyCredPassword" value="xxxxxxxxx"/>
    <add key="ProxyCredUrl" value=""/>
    <add key="ProxyCredDomain" value="CZ"/>
  </appSettings>

  <connectionStrings>
    <add name="COSDataModelContainer" connectionString="xxxxx" providerName="System.Data.EntityClient" />
    <!--<add name="COSDataModelContainer" connectionString="metadata=res://*/COSDataModel.csdl|res://*/COSDataModel.ssdl|res://*/COSDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CZLT0001\CZJS;Initial Catalog=COS_Production;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="RONEntities" connectionString="xxxxx" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
